.App {
  position: relative;
  text-align: center;
  height: 80vh;
  margin: 12vh 0 0 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

h1 {
  font-size: 1.3em;
}

.header-link {
  color: black;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.menu-icon {
  width: 1.4em;
  padding: 1em 1em 1em 1em;
}

.menu-icon:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10em;
  height: 13em;
  position: absolute;
  top: 5em;
  right: 50px;
  background-color: white;
  border: solid 1px lightgray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link:last-child {
  margin: 1.5em;;
}

/***hide navigation on menu clicked***/
.hide {
  display: none;
}

/*******************************************
                  HOME SCREEN
********************************************/
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  height: 100%;
  margin: 0 auto 0 auto;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto; 
  margin: 1.5em 1em 1.5em 1em; 
}

.category-heading {
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  -webkit-transform: translate(-50%, -90%);
  position: absolute;
  font-size: 1.1em;
}

.home-image-container {
  height: 8em;
  border: 1px solid lightgray;
}

.travel-img {
  background-image: url("images/travel/tuk-tukdriver/tuk-tukhome.jpg");
}

.people-img {
  background-image: url("images/people/bee/beehome.jpg");
  filter: brightness(50%);
}

.animal-img {
  background-image: url("images/animals/rhino/rhinohome.jpg");
}

/*******************************************
                  GALLERIES
********************************************/

.gallery-container {
  width: 70%;
  margin: 15vh auto 0 auto;
}

h2 {
  font-size: 1.1em;
}

.gallery-container p {
  line-height: 1.6em;
  text-align: left;
}

.bottom-nav {
  font-size: 0.9em;
  margin: 1em 0 5.5em 0;
  display: flex;
  justify-content: center;
}

.travel,
.animals {
  margin: 0 0.5em 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgrey;
  background-color: white;
  font-size: 0.9em;
}