.App {
  position: relative;
  text-align: center;
  height: 80vh;
  margin: 12vh 0 0 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

h1 {
  font-size: 1.3em;
}

.header-link {
  color: black;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.menu-icon {
  width: 1.4em;
  padding: 1em 1em 1em 1em;
}

.menu-icon:hover {
  cursor: pointer;
}

.large-nav {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10em;
  height: 16em;
  position: absolute;
  top: 5em;
  right: 50px;
  background-color: white;
  border: solid 1px lightgray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0 1em 1.5em 0;
}

.nav-link:last-of-type {
  margin: 0 1em 0 0;
}

/***hide navigation on menu clicked***/
.hide {
  display: none;
}

/*******************************************
                  HOME SCREEN
********************************************/
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  height: 100%;
  margin: 0 auto 0 auto;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto; 
  margin: 1.5em 1em 1.5em 1em; 
}

.category-heading {
  margin: 0;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.1em;
}

.home-image-container {
  height: 8em;
  border: 1px solid lightgray;
}

.travel-img {
  background-image: url("images/travel/tuk-tukdriver/tuk-tukhome.jpg");
}

.people-img {
  background-image: url("images/people/bee/beehome.jpg");
  filter: brightness(50%);
}

.animal-img {
  background-image: url("images/animals/rhino/rhinohome.jpg");
}

/*******************************************
                  GALLERIES
********************************************/

.gallery-container {
  width: 70%;
  margin: 15vh auto 0 auto;
}

h2 {
  font-size: 1.1em;
}

.gallery-heading {
  margin: 0 0 1em 0;
}

.gallery-container p {
  line-height: 1.6em;
  text-align: left;
}

.bottom-nav {
  font-size: 0.9em;
  margin: 2em 0 7em 0;
  display: flex;
  justify-content: center;
}

.travel,
.animals {
  margin: 0 0.5em 0 0;
}

.about-container {
  font-size: 0.9rem;
  width: 75%;
  margin: 15vh auto 0 auto;
  line-height: 1.6em;
  text-align: left;
}

.about-container h2 {
  text-align: center;
}

.icon-set {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto 4em auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgrey;
  background-color: white;
  font-size: 0.9em;
}

/*******************************************
                MEDIA QUERIES
********************************************/

@media screen and (min-width: 375px) {
  .about-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 414px) {
  .about-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 767px) {

  .category-container {
    width: 600px;
  }

  .home-image-container {
    height: 10em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
    margin: 0 0 0 0;
  }

  .menu-icon {
    width: 1.8em;
  }

  .gallery-container p {
    font-size: 1.2em;
  }

  .bottom-nav {
    margin: 2.5em 0 7em 0;
  }

  .icon-set {
    margin: 4em auto 0 auto;
  }

  .footer {
    font-size: 1.1em;
  }

  @media screen and (min-width: 1023px) {

    .menu-icon {
      display: none;
    }

    .large-nav {
      display: block;
    }

    .large-nav ul li {
      display: inline;
      font-size: 1.2em;
    }

    .category-container {
      width: 800px;
    }

    .gallery-container {
      width: 60%;
      margin: 20vh auto 0 auto;
    }

    .gallery-heading {
      margin: 0 0 2em 0;
    }

    .category-heading {
      font-size: 1.2em;
    }

    .about-container {
      margin: 20vh auto 0 auto;
      width: 50%;
    }

    .about-container h2 {
      margin: 0 0 2em 0;
    }

    .bottom-nav {
      margin: 2.5em 0 7em 0;
    }

  }

  @media screen and (min-width: 1439px) {

    .about-container {
      width: 40%;
    }

  }

}